*.gfx

core/libretro-core.o

core/tile_engine_retro_libretro.so
core/tile_engine_retro_libretro.dylib

gfxtool

core/test_harness
core/test_harness.dSYM/
core/*.map
core/test_units
core/test_units.dSYM/
core/pond.tune
